body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed; /* Das Men端 bleibt oben fixiert */
  top: 0; /* Positioniert es oben */
  width: 100%;
  display: flex;
  justify-content: center; /* Zentriert die Men端elemente */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Sicherstellt, dass das Men端 端ber anderen Inhalten liegt */
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-item:hover {
  color: #ffcc00;
}

.menu-item span {
  margin-top: 5px;
  font-size: 12px;
}

.menu-item svg {
  font-size: 20px;
}

.auth-section {
  margin-left: auto; /* Verschiebt den Button nach rechts */
  display: flex;
  align-items: center;
}

.auth-button {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.auth-button:hover {
  background-color: #0056b3;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button,
.register-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}
