body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 50px; /* Feste Höhe, um Platz für das Menü zu garantieren */
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-item:hover {
  color: #ffcc00;
}

.auth-section {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
}

/* ============================= */
/* Mobile-Ansicht (Burger-Menü)  */
/* ============================= */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1100;
  }

  .burger-menu div {
    width: 30px;
    height: 4px;
    background-color: #007bff;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
  }

  /* Das Menü ist standardmäßig ausgeblendet */
  .menu {
    position: relative;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  /* Wenn das Menü geöffnet ist */
  .menu.open {
    min-height: 55vh; /* Dynamischer Platz für das Menü */
    padding: 10px 0;
    min-width: 100%;
  }

  /* Die .App bekommt zusätzlichen Abstand nach unten, wenn das Menü offen ist */
  .App.menu-open {
    margin-top: 200px; /* Schiebt den Inhalt nach unten */
  }

  /* Mobile Menüeinträge */
  .menu-item {
    padding: 8px 12px;
    font-size: 12px;
  }

  .menu-item:hover {
    background-color: #444;
  }
}

/* ============================= */
/* Desktop-Ansicht               */
/* ============================= */
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static; /* Standardposition */
  }

  .menu-item {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.login-container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
